body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 150px;
}

.card {
  width: 400px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #bfd7ea;
  color: #2b2839;
  border-bottom: 6px solid #7c90db;
  border-radius: 5px;
  text-shadow: 2px 2px 4px whitesmoke;
}
  